html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #004466;
    background-image: url("../img/background1.png");

    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    /* object-fit: cover */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    text-align: center;
    font-family: Comic Sans MS;
    letter-spacing: 1px;

    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
    text-decoration: none;
}

h3 {
    font-size: 22px;
    text-decoration: none;
    padding-top: 20px;
}

p {
    color: white;
    font-size: 14px;
    padding: 4px;
}

a {
    top: 0px;
    transition: top 1s linear;
    color: white;
    text-decoration: none;
}

section {
    padding: 1.2%;
}

a:hover {

}

label.form {
    color: white;
    padding: 6px 6px;
    display: inline-block;
    width: 155px;
    text-align: right;
}

footer {
    /* center vertically */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .03);
}

a.footer {
    font-size: 16px;
    letter-spacing: 1px;
}

main {
    padding: 20px;
}

img.heading-font{
    height: 7vh;
}

img.logo {
    width: 20%;
}
img.diver {
    width: 28vh;
}

iframe.homevideo {
    width: 115vh;
    height: 55vh;
    opacity: 0.9;
    border-radius: 25px;
}

div.trackListTitle {
    display: inline-block;
}

h4.trackListTitle {
    padding: 0px 0px;
    font-size: 14px;
}

p.track {
    text-align: left;
}

img.product {
    height: 200px;
    padding: 20px 20px 0px 20px;
}

img.cartProduct {
    height: 120px;
    padding: 5px 20px 5px 20px;
    display: inline-block;
}

div.productInformation {
    display: inline-block;
    width: 200px;
    text-align: left;
}

div.cartProduct {
    display: block;
}

.trackList {
    display: inline-block;
}

.trackList p {
    font-size: 12px;
}

.dialog {
    color: black;
    display: none;
}

mark {
    font-size: 12px;
    padding: 2px;
    display: none;
    background-color: inherit;
    font-style: italic;
    color: #b3cccc;
}

.tracklist {
    padding: 5px;
}

.tracklist p {
    font-size: 18px;
}

.cartUpdated {
    display: inline-block;
    padding: 10px 17px;
    margin-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}

.btn  {
    margin: 7px;
    display: inline-block;
    font-family: Comic Sans MS;
    padding: 3px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #009933;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 4px #999;
}

.cartBtn  {
    margin-top: 7px;
    margin-right: 7px;
    padding: 3px 10px;

    display: inline-block;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00664d;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 2px #999;
}
.loginBtn{
    padding: 3px 50px;
}

.btn:hover {background-color: #00802b}

.cartBtn:hover{background-color: #004d39}

.btn:active {
    background-color: #00802b;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.cartBtn:active {
    background-color: #004d39;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

div.cart {
    display: block;
}

.inline {
    display: inline;
}


p.wrongData, span.wrongData {
    font-size: 16px;
    padding: 8px 20px;
    margin: 8px 10px;
    display: inline-block;
    color: darkblue;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.6);
}

.boxBackground {
    display: inline-block;
    padding: 7px;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #004d39;
    margin: 5px;
    background-color: rgba(255,255,255,0.1);
}

.paddingTop {
    padding-top: 12px;
}

.marginTop {
    margin-top: 16px;
}

.subtleLink:hover {
    text-decoration: underline;
}

input {
    border-radius: 6px;
}

.custom-select {
    display: inline-block;
}

.tracklistButton {
    background-color: seagreen;
    padding: 6px 0px;
    margin: -2px 19px 10px 19px;
    border-radius: 3px;
}

.tracklistButton:hover {
    background-color: darkseagreen;
    color: darkgreen;
}

#priceContainer {
    display: inline-block;
}

.black {
    color: black;
}

li.anmerkungen {
    text-align: left;
    padding: 10px;
    margin: 0px 25%;
}

ul.anmerkungen {
    list-style-type: circle;
}

h2.anmerkungen {
    text-align: left;
    margin: 0px 24%;
}