body {
    background-color: #004466;
    background-image: url("../img/background1.png");

    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    /* object-fit: cover */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    text-align: center;
    font-family: Comic Sans MS;
    letter-spacing: 1px;

    overflow-x: hidden;
    overflow-y: hidden;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 40px;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    text-decoration: none;
}

p {
    color: white;
    font-size: 14px;
    padding: 4px;
}

a {
    top: 0px;
    transition: top 1s linear;
    color: white;
    text-decoration: none;
}

section {
    padding: 1.2%;
}

a:hover {

}

label {
    color: white;
    padding: 6px 6px;
    display: inline-block;
    width: 110px;
    text-align: right;
}

footer {
    /* center vertically */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .03);
}

a.footer {
    font-size: 16px;
    letter-spacing: 1px;
}

main {
    padding: 20px;
}

img.heading-font{
    height: 7vh;
}

img.logo {
    width: 20%;
}
img.diver {
    width: 28vh;
}

iframe.homevideo {
    width: 115vh;
    height: 55vh;
    opacity: 0.9;
    border-radius: 25px;
}

div.trackListTitle {
    display: inline-block;
}

h4.trackListTitle {
    padding: 0px 0px;
    font-size: 14px;
}

p.track {
    text-align: left;
}

img.product {
    height: 200px;
    padding: 20px 20px 5px 20px;
}
.trackList {
    display: inline-block;
}

.trackList p {
    font-size: 12px;
}

.dialog {
    color: black;
    display: none;
}

mark {
    display: none;
    color: white;
    background-color: inherit;
}

.tracklist {
    padding: 5px;
}

.tracklist p {
    font-size: 18px;
}
